.card-title{
  font-family: "Montserrat", sans-serif;
  padding: 3% 0 0 4%;
  font-size: 2rem;
  font-weight: bolder;
  color: black;
}
.card-text{
  padding: 3% 0 0 4%;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
  color: black;
  font-weight: bold;
}
.rm{
  margin-top: 2%;
  margin-left: 4%;
}
.container{
  padding:5%;
}

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 1rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 6% 4%;
}
